flow/test_flow.txt
[{"id":"b29c2dd5.50d9f","type":"tab","label":"Flow 1"},{"id":"d1a9ecf3.cf47","type":"websocket in","z":"b29c2dd5.50d9f","name":"","server":"","client":"a570b011.9ec4f","x":230,"y":380,"wires":[["39c800ba.36bcc","301b1237.a627ae","d32f1681.ba2358","e7a04c7c.3eb6d","6177a0ce.e2561"]]},{"id":"274bc837.870d88","type":"debug","z":"b29c2dd5.50d9f","name":"","active":true,"console":"false","complete":"true","x":730,"y":200,"wires":[]},{"id":"39c800ba.36bcc","type":"change","z":"b29c2dd5.50d9f","name":"","rules":[{"t":"move","p":"data1[0].y","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data1","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Line1","tot":"str"},{"t":"delete","p":"data2","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["80ce1cd9.0447c","274bc837.870d88"]]},{"id":"80ce1cd9.0447c","type":"ui_chart","z":"b29c2dd5.50d9f","name":"","group":"ec69f6e8.1c13f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":730,"y":340,"wires":[[],[]]},{"id":"301b1237.a627ae","type":"debug","z":"b29c2dd5.50d9f","name":"","active":false,"console":"false","complete":"true","x":470,"y":200,"wires":[]},{"id":"d32f1681.ba2358","type":"change","z":"b29c2dd5.50d9f","name":"","rules":[{"t":"move","p":"data1[1].y","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data1","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Line2","tot":"str"},{"t":"delete","p":"data2","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["274bc837.870d88","80ce1cd9.0447c"]]},{"id":"e7a04c7c.3eb6d","type":"change","z":"b29c2dd5.50d9f","name":"","rules":[{"t":"move","p":"data2[0].y","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data1","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Line3","tot":"str"},{"t":"delete","p":"data2","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["274bc837.870d88","80ce1cd9.0447c"]]},{"id":"6177a0ce.e2561","type":"change","z":"b29c2dd5.50d9f","name":"","rules":[{"t":"move","p":"data2[1].y","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"data1","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Line4","tot":"str"},{"t":"delete","p":"data2","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["274bc837.870d88","80ce1cd9.0447c"]]},{"id":"a570b011.9ec4f","type":"websocket-client","z":"","path":"ws://localhost:8000","wholemsg":"true"},{"id":"ec69f6e8.1c13f8","type":"ui_group","z":"","name":"Default","tab":"927822fc.8b5d5","disp":true,"width":"6"},{"id":"927822fc.8b5d5","type":"ui_tab","z":"","name":"Grouop1","icon":"dashboard"}]